.image-one {
    width: 120px;
    height: auto;
}

.img-circle {
    margin-top: 10px;
    text-align: center;
}

.img-circle img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    object-fit: cover;
    margin: 10px;
}

.team ul li .img-circle {
    margin: 10px 0px;
    /*border: 1px solid #156d20;
    box-shadow: 0 4px 20px 0 #000000;*/
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.team ul li .img-circle .staffDetails {
    margin-bottom: 10px;
}

.team .img-circle img {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 70px;
}

/*.team ul li .img-circle:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}*/

.navbar-toggle {
    float: left;
}

.background-colorr {
    background: #156d20 none repeat scroll 0 0;
    -webkit-box-shadow: 0 4px 20px 0 #000000;
    box-shadow: 0 4px 20px 0 #000000;
    position: relative;
    z-index: 0;
}

.dropdown-menu>li>a {
    border-right: transparent !important;
}

.newTag {
    position: absolute;
    top: 0px;
    right: -45px;
    z-index: 99;
}

.item img {
    width: 100%;
    height: auto;
}

.padding-clear {
    padding: 0;
}
.margin-clear{
    margin: 0px;
}
.clear{
    clear:both;
}

.header-calendar {
    text-align: center;
    /* margin-top: 30px; */
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.postDate {
    margin-top: 10px;
    color: #a0a0a0;
}

.staffDetails {}

.text-center-one > h4 {
    color: black;
    font-weight: 600;
}

.staffSlider {
    height: auto;
}

.gallaryOverflow ul li:hover {
    opacity: .7;
}

.widget-sidebar .noShadow {
    box-shadow: none;
}

.reports {
    height: 70px;
}

.reportList {
    padding: 15px 20px !important;
}

.noShadow > li {
    background: none;
    margin-top: 21px;
}

.noShadow > li > a {
    background-color: white !important;
    color: #156d20;
    padding: 10px;
}

.comment li a:hover {
    text-decoration: none;
    opacity: .7;
}

.widget-inner .mainlinks li {
    list-style: armenian;
}

.noShadow > li.active > a,
.noShadow > li.active > a:hover,
.noShadow > li.active > a:focus,
.noShadow > li > a:hover {
    background-color: #156d20 !important;
    color: white;
    text-decoration: none;
}

.footer {
    margin-top: 10px;
    color: white;
}

.footer ul {
    margin: 10px;
    font-size: 15px;
}
.footer ul li a{
    color: white;
    text-decoration: underline;
    font-size: 15px;
}
.footer ul li a:hover{
    opacity: .7;
    cursor: pointer;
}
.footer ul li a img{
    margin-left: -24px;
}
.downloads li a{
    font-size: 18px;
}

/*about us*/

.aboutUs .heading-title-paragraph,
.widget_comments .widget-title,
.otherTitles {
    background-color: transparent;
    color: #156d20;
    margin: 0;
    padding: 12px 0px;
    font-family: roboto;
    font-size: 20px;
    font-weight: 600;
    border-bottom: solid;
}

.aboutUs p {
    text-align: justify;
    padding: 10px 0px;
    font-size: 17px;
}

.paddingR0{
    padding-right: 0px;
}

/*thumbnails style*/

.bsp-text-container {
    text-align: center;
    color: white;
    background-color: black;
    opacity: .7;
}

.breadcrumb {
    padding: 8px 15px;
    margin-top: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.postDetails img {
    padding: 10px 0px;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}
.newsDetails{
    border-bottom: 1px solid #e8e8e8;
}
.newsDetails h3{
    float: left;
    margin-top: 10px;
}
.newsDetails p{
    padding-top: 10px;
    text-align: justify;
}
.newsDetails img{
    width: 100%;
    height: 100%;
    padding: 15px 0px;
    object-fit:cover;
}
.newsDetails a{
    cursor: pointer;
    margin-bottom: 10px;
}
.pdfColor{
    color: red;
    font-size: 24px;
    margin-right: 10px;
}
a span{
    /*color: #337ab7 !important;*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    /*text-decoration: underline;*/
}
a span:hover{
    opacity: .7;
    cursor: pointer;
}
/*Contact Info*/

section#contact {
    background-color: #a7803a;
    background-image: url('../src/worldMap.png');
    background-position: center;
    background-repeat: no-repeat;
}

section#contact {
    padding: 30px 0px;
}

section#contact .section-heading {
    color: white;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 10px;
}

section#contact .form-group select {
    height: 40px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    min-height: 175px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact:-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact:-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact .text-danger {
    color: #e74c3c;
}
.gunaso{
    background-image: none !important;
    background: rgba(0,0,0,.7) !important;
}


/*style for upload file*/
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}
/*end file*/

.about_our_company {
    text-align: center;
}

.about_our_company h1 {
    font-size: 25px;
}

.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #339966;
    margin: 20px auto 20px;
}

.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #339966;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}

.alignRight {
    text-align: right;
}

.alignRight .btn {
    color: white;
    background-color: #156d20;
}

.alignRight .btn:hover {
    opacity: .7;
}

.contactInfo {
    padding: 20px;
    border: 1px solid #156d20;
}

.contactInfo p,
.contactInfo ul li {
    margin-top: 10px;
}

.contactInfo ul li {
    margin-left: 20px;
}

.contactInfo h3 {
    line-height: 0px;
}

.contactInfo i {
    color: #339966;
}

.loadMore{
    float: right;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.tabs {
    list-style: none;
    padding-left: 0;
}

ul.tabs li {
    display: inline-block;
}

ul.tabs li:first-child {
    padding: 0;
}
  .logo-main .right {
    padding: 20px 10px;
}
@media screen and (max-width: 736px) {
    ul.tabs li {
        display: block;
        margin: 0 0 .25em 0;
        padding: 0;
    }
    ul.tabs li .button {
        width: 100%;
    }
}
/*top page*/
@media (max-width: 769px) {
    .title-aside-logo {
        font-size: 16px;
    }
    .widget-sidebar {
        margin-top: 20px;
    }
    .image-one {
        width: 85px;
        height: auto;
    }
    .header-calendar {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 12px;
        text-align: center;
        margin-top: 15px;
        line-height: 15px;
    }
    .nav.navbar-nav.nav-hover a {
        border-right: transparent;
    }
    .newTag {
        right: 0px;
    }
    .padding-clear {
        padding: auto;
    }
}
@media (max-width: 415px) {
    .image-one {
        margin-bottom:5px;
}
    .title-aside-logo {
        font-size: 11px;
    }
    .title-aside-logo {
        padding: 0px 10px 10px 10px;
    }
    .logo-main .right {
    padding: 0px 10px 0px 0px;
    font-size: 9px;
    margin-top: 10px;
}

}
@media (max-width: 321px) {

    .image-one {
        width: 65px;
        height: auto;
    }
    .header-calendar {
        font-size: 7px;
    }
}
/*end style*/


.top-navbar .navbar-brand:hover {
    color: #FFFFFF;
    background-color: #FFB53E;
}

.top-navbar   .navbar-brand {
    color: #FFFFFF;
    background-color: #FFB53E;
}

.form-horizontal .control-label {

     text-align: left;
}

/* table */

.postDetails table{
    font-size:16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.postDetails td, .postDetails th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2}

.postDetails th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #156d20;
    color: white;
}



select option{
    font-size: 14pt;
}



.w3-border {
    /*border: 1px solid #ccc!important;*/
    padding: 5pt;
    font-weight: 500;
    display: inline-block;
    height: inherit;
}

#custom-search-input{
    /*padding: 3px;*/
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

 .info img{
    display: block;
    margin: 0 auto;
     margin-top: 75px;
}